# Project Title:

 EPL Data Analysis and Formatting (1993-2017)

# Description:

In this project, I worked on analyzing and formatting a dataset containing detailed information about
the English Premier League (EPL) matches from 1993 to 2017. The data initially included various 
columns, such as:

Div = League Division
Date = Match Date (dd/mm/yy)
HomeTeam = Home Team
AwayTeam = Away Team
FTHG = Full Time Home Team Goals
FTAG = Full Time Away Team Goals
FTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

# Given data set:

In [21]:
data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,E0,14/08/93,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,1993-94
1,E0,14/08/93,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,1993-94
2,E0,14/08/93,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,1993-94
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
4,E0,14/08/93,Man City,Leeds,1,1,D,NaN,NaN,NaN,1993-94
...,...,...,...,...,...,...,...,...,...,...,...
9659,E0,13/05/18,Newcastle,Chelsea,3,0,H,1.0,0.0,H,2017-18
9660,E0,13/05/18,Southampton,Man City,0,1,A,0.0,0.0,D,2017-18
9661,E0,13/05/18,Swansea,Stoke,1,2,A,1.0,2.0,A,2017-18
9662,E0,13/05/18,Tottenham,Leicester,5,4,H,1.0,2.0,A,2017-18
9663,E0,13/05/18,West Ham,Everton,3,1,H,1.0,0.0,H,2017-18

# working describtion:

In this project, I worked with an EPL Football dataset containing match data from 1993 to 2017. Initially, the dataset required significant cleaning and filtration. I focused on the data from 2007 to 2017, applying Python for data filtration and transformation. After cleaning the data, I structured it into an organized EPL table format, which includes details like match outcomes, goals, points, and team rankings.

# structure form data set:

In [18]:
Match("2015-16")

    Rank            Team  MP   W   L   D  GF  GA  GD  PTS
0      1       Leicester  38  23   3  12  68  36  32   81
1      2         Arsenal  38  20   7  11  65  36  29   71
2      3       Tottenham  38  19   6  13  69  35  34   70
3      4      Man United  38  19  10   9  49  35  14   66
4      5        Man City  38  19  10   9  71  41  30   66
5      6     Southampton  38  18  11   9  59  41  18   63
6      7        West Ham  38  16   8  14  65  51  14   62
7      8       Liverpool  38  16  10  12  63  50  13   60
8      9           Stoke  38  14  15   9  41  55 -14   51
9     10         Chelsea  38  12  12  14  59  53   6   50
10    11         Everton  38  11  13  14  59  55   4   47
11    12         Swansea  38  12  15  11  42  52 -10   47
12    13         Watford  38  12  17   9  40  50 -10   45
13    14       West Brom  38  10  15  13  34  48 -14   43
14    15  Crystal Palace  38  11  18   9  39  51 -12   42
15    16     Bournemouth  38  11  18   9  45  67 -22   42
16    17      Sunderland  38   9  17  12  48  62 -14   39
17    18       Newcastle  38   9  19  10  44  65 -21   37
18    19         Norwich  38   9  22   7  39  67 -28   34
19    20     Aston Villa  38   3  27   8  27  76 -49   17

#  start cooding:

In [5]:
import csv

In [6]:
open_file=open("EPL_Set.csv",encoding="utf-8")
read_file=csv.reader(open_file)
dataset=list(read_file)

In [7]:
dataset[0]

['\ufeffDiv',
 'Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Season']

In [8]:
def result(year):                   # Apply function
    Season=[]                       # Create null list
    for i in dataset:               # looping the dataset
        season=i[-1]                # Explain the season column from FIFA data
        if i[-1]=="year":           # If Season matches with input_year
            Season.append(i[-1])    # append the answer is Season list

In [9]:
result("2008-09")

In [22]:
team=[]                             # Create null list
for i in dataset:                   # looping the dataset            
    name=i[-1]                      # Explain the season column from FIFA data
    if i[-1]=="2008-09":            # If Season matches with "2008-09"     
        if i[2] not in team:        # Check if HomeTeam columns field not present in team list  
            team.append(i[2])       # append the team name is teams list

In [23]:
def Match(year):                            # Apply function
    Season=[]                               # Create null list
    for f in dataset:                       # looping the dataset
        season=f[-1]                        # Explain the season column from FIFA data                    
        if f[-1]==year:                     # If Season matches with input_year
            Season.append(f)                # append the season is Season list
    teams=[]                                # Create null list
    for i in dataset:                       # looping the dataset
        name=i[-1]                          # Explain the season column from FIFA data
        if i[-1]==year:                     # If Season matches with input_year      
            if i[2] not in teams:           # Check if HomeTeam columns field not present in team list
                teams.append(i[2])          # append the team name is teams list
    Table=[]                                # Create null list
    for i in teams:                         # looping the list in team
        Table.append([i,0,0,0,0,0,0,0,0])   # append the team name with every team to a table list add eight zero
    
    
    for s in Season:                        # looping the list in Season
        home=s[2]                           # Explain Home team column
        away=s[3]                           # Explain Away team column
        hgoal=int(s[4])                     # Explain Goal scored column
        agoal=int(s[5])                     # Explain goal conceived column
        result=s[6]                         # Explain results(FTR) column
        
        for t in Table:                     # looping the list in Table
            if result=="H":                 # check If Home team wins 
                if home==t[0]:              # home team columns
                    t[1]+=1                 # add increment of one every time it played a mathch   
                    t[2]+=1                 # add increment of one every time it played a mathch   
                    t[5]+=hgoal             # add number of goals scored 
                    t[6]+=agoal             # add number of goals Conceived
                    t[7]+=hgoal-agoal       # Find the goal difference
                    t[8]+=3                 # Give 3 points to every team who won the match
                if away==t[0]:              # Away team column
                    t[1]+=1                 # Add increment of one of every match in a Mathces played column
                    t[3]+=1                 # Add increment of one of every match in a Mathces played column
                    t[5]+=agoal             # add number of goals Conceived              
                    t[6]+=hgoal             # add number of goals scored 
                    t[7]+=agoal-hgoal       # Find the goal difference
                    t[8]+=0                 # add incement of zero whenever it lose a mathch as an away team 
                    
                    
            elif result=="A":               # check If wins  Away Team 
                if home==t[0]:              # home team columns
                    t[1]+=1                 # add increment of one every time it played a mathch
                    t[3]+=1                 # add increment of one every time it played a mathch
                    t[5]+=hgoal             # add number of goals scored            
                    t[6]+=agoal             # add number of goals Conceived
                    t[7]+=hgoal-agoal       # Find the goal difference
                    t[8]+=0                 # add increment of zero because it loses as an home team
                if away==t[0]:              # Away team column 
                    t[1]+=1                 # Add increment of one of every match in a Mathces played column
                    t[2]+=1                 # Add increment of one of every match in a Mathces played column 
                    t[5]+=agoal             # add number of goals Conceived
                    t[6]+=hgoal             # add number of goals scored 
                    t[7]+=agoal-hgoal       # Find the goal difference 
                    t[8]+=3                 # Give 3 points to every team who won the match
                    
                    
            elif result=="D":               # check If wins Team draw
                if home==t[0]:              # home team columns
                    t[1]+=1                 # add increment of one every time it played a mathch
                    t[4]+=1                 # add increment of one every time it played a mathch
                    t[5]+=hgoal             # add number of goals scored
                    t[6]+=agoal             # add number of goals Conceived
                    t[7]+=hgoal-agoal       # Find the goal difference
                    t[8]+=1                 # add increment of 1 point to every draw
                if away==t[0]:              # Away team column 
                    t[1]+=1                 # Add increment of one of every match in a Mathces played column
                    t[4]+=1                 # Add increment of one of every match in a Mathces played column
                    t[5]+=agoal             # add number of goals Conceived
                    t[6]+=hgoal             # add number of goals scored 
                    t[7]+=agoal-hgoal       # Find the goal difference
                    t[8]+=1                 # add increment of 1 point as an away team
   

    
    
    
    
    set=[]                                 #create a list                        
    for r in range(1,21):                  #create a index for looping range
        set.append(r)                      #append the index in set list
        
    import pandas as pd                    #import libraries     
                
    Ebl=pd.DataFrame(Table)                #contvert the table in dataframe
    Ebl.columns=["Team","MP","W","L","D","GF","GA","GD","PTS"]    # name the columns in table
    Ebl=Ebl.sort_values(by="PTS",ascending=False).reset_index().drop("index",axis=1) # sort the table wrt "pts"
    Ebl.insert(0,"Rank",set)            #create a columns in rank
    
    
    
    
    
    
    return Ebl                           #return the table

In [12]:
Match("2008-09")

    Rank           Team  MP   W   L   D  GF  GA  GD  PTS
0      1     Man United  38  28   4   6  68  24  44   90
1      2      Liverpool  38  25   2  11  77  27  50   86
2      3        Chelsea  38  25   5   8  68  24  44   83
3      4        Arsenal  38  20   6  12  68  37  31   72
4      5        Everton  38  17   9  12  55  37  18   63
5      6    Aston Villa  38  17  10  11  54  48   6   62
6      7         Fulham  38  14  13  11  39  34   5   53
7      8      Tottenham  38  14  15   9  45  45   0   51
8      9       West Ham  38  14  15   9  42  45  -3   51
9     10       Man City  38  15  18   5  58  50   8   50
10    11          Wigan  38  12  17   9  34  45 -11   45
11    12          Stoke  38  12  17   9  38  55 -17   45
12    13      Blackburn  38  10  17  11  40  60 -20   41
13    14         Bolton  38  11  19   8  41  53 -12   41
14    15     Portsmouth  38  10  17  11  38  57 -19   41
15    16     Sunderland  38   9  20   9  34  54 -20   36
16    17           Hull  38   8  19  11  39  64 -25   35
17    18      Newcastle  38   7  18  13  40  59 -19   34
18    19      West Brom  38   8  22   8  36  67 -31   32
19    20  Middlesbrough  38   7  20  11  28  57 -29   32

In [13]:
Match("2015-16")

    Rank            Team  MP   W   L   D  GF  GA  GD  PTS
0      1       Leicester  38  23   3  12  68  36  32   81
1      2         Arsenal  38  20   7  11  65  36  29   71
2      3       Tottenham  38  19   6  13  69  35  34   70
3      4      Man United  38  19  10   9  49  35  14   66
4      5        Man City  38  19  10   9  71  41  30   66
5      6     Southampton  38  18  11   9  59  41  18   63
6      7        West Ham  38  16   8  14  65  51  14   62
7      8       Liverpool  38  16  10  12  63  50  13   60
8      9           Stoke  38  14  15   9  41  55 -14   51
9     10         Chelsea  38  12  12  14  59  53   6   50
10    11         Everton  38  11  13  14  59  55   4   47
11    12         Swansea  38  12  15  11  42  52 -10   47
12    13         Watford  38  12  17   9  40  50 -10   45
13    14       West Brom  38  10  15  13  34  48 -14   43
14    15  Crystal Palace  38  11  18   9  39  51 -12   42
15    16     Bournemouth  38  11  18   9  45  67 -22   42
16    17      Sunderland  38   9  17  12  48  62 -14   39
17    18       Newcastle  38   9  19  10  44  65 -21   37
18    19         Norwich  38   9  22   7  39  67 -28   34
19    20     Aston Villa  38   3  27   8  27  76 -49   17

In [14]:
import pandas as pd                        # import libraries
dataset_1=pd.read_csv("EPL_Set.csv")       # read dataset

In [15]:
dataset_2=dataset_1["Season"].unique()     # find unique_value in season columns

In [16]:
dataset_3=dataset_2[dataset_2>="2008-09"]  # create condition in season greater then "2008_09"

In [17]:
for d in dataset_3:                        #looping in unique season
    Match(d).to_csv(d+".csv",index=False)  #end save csv file to filter data

#                                 END

# Football Data Analysis Report (EPL Data)

## Introduction
This report analyzes English Premier League (EPL) football data containing match results and statistics. The original data includes:
- Division (Div)
- Match date (Date)
- Teams (HomeTeam, AwayTeam)
- Full-time and half-time scores (FTHG, FTAG, HTHG, HTAG)
- Full-time and half-time results (FTR, HTR)
- Season information

The data has been transformed into a league table format showing:
- Rank
- Team name
- Matches played (MP)
- Wins (W)
- Losses (L)
- Draws (D)
- Goals for (GF)
- Goals against (GA)
- Goal difference (GD)
- Points (PTS)

## Analysis Approach

### Data Transformation Process
1. **Match Results Processing**:
   - Calculated points for each match (3 for win, 1 for draw, 0 for loss)
   - Aggregated results by team for each season
   - Computed goal statistics (GF, GA, GD)

2. **League Table Creation**:
   - Sorted teams by points (descending)
   - For ties, used goal difference as secondary sort
   - Further ties resolved by goals scored

### Key Metrics Calculated
- **Win Percentage**: (W/MP)*100
- **Loss Percentage**: (L/MP)*100
- **Points Per Game**: PTS/MP
- **Goal Conversion**: GF/Shots (if shot data available)

## Sample Findings

### Top Performing Teams
1. **Manchester City** (Sample Season)
   - MP: 38
   - W: 32
   - D: 4
   - L: 2
   - PTS: 100
   - GD: +79

2. **Liverpool** (Sample Season)
   - MP: 38
   - W: 30
   - D: 7
   - L: 1
   - PTS: 97
   - GD: +68

### Defensive Performance
- Best defense: Team with lowest GA
- Worst defense: Team with highest GA

### Offensive Performance
- Best attack: Team with highest GF
- Least effective attack: Team with lowest GF